/* Add a black background color to the top navigation */


/* Style the links inside the navigation bar */
.topnav a {
  float: left;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 32px;
}


/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.appName{
    color: rgba(230, 145, 32, 1);
    font-size: 50px;
    padding-bottom:40px;
}