@font-face {
  font-family: "FredokaOne";
  src: local("FredokaOne"),
   url("./fonts/FredokaOne-Regular.ttf") format("truetype");
  font-weight: bold;
  }


body {
  
  font-family: "FredokaOne";
  margin: 0;
  background-color: #FCF8E8;
}



.container{
  border-radius: 10px;
  margin: 30px auto;
  max-width: 800px;
  overflow: visible;
  padding: 30px;
  background-color: #FCF8E8;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color:#DF7861;
}



.restaurant {
  background: white;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color:black;
  border-radius: 10px;
}

.restaurant h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.btn{
  
  cursor: pointer;
}

.show>.dropdown-menu {
  display: block;
  position: absolute;
}

.underline a{
  color: ff0000;
  text-decoration: none;
  }